* {
    
    
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: light pink;
    color: palevioletred;
}

.container-1 {
    display: flex;
    flex-direction: column;
}

/* navbar */

.magic-navbar {
    display: flex;
    padding:20px 20px 20px 100px;
    align-items: center;
    background-color: black;
}

.magic-navbar a {
    color: palevioletred;
    height: 140px;
}


.header-logo img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    border-radius: 5%;
}

.header-links {
    display: flex;
    margin-left: auto;
    padding: 0px 0px 0px 0px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

/* Hero part */
.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 30px;
}


.magic-hero-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 400px;
    margin-right:50px;
}

.magic-hero-z {
    display: flex;
    justify-content: center;
    align-items: right;
}

.magic-hero-z img {
    border-radius: 10%;
    width: 50%;
    height: 50%;
}

.magic-hero-button-1 {
    display: block;
    background-color: palevioletred;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 25px;
    
}

.magic-content {
    color: black;
    background-color:  rgb(235, 153, 244);
    margin:20px;
    height: 360px;
}

h2.premiere {
    background-color:rgb(255, 255, 255);
    color:black;
    height: 45px;
}

.content-info {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background-color: rgb(255, 255, 255);
   color: black;
}

.content-info img {
   width: 200px;
   height: 200px;
   border-radius: 10%;
   margin: 5px 20px 0px 20px;
   border: 5px solid rgb(0, 0, 0) ;
}

.magic-quote {
    background-color: palevioletred;
    color: black;
    padding: 0px 150px;
}

p.astroquote {
    font-size:36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

p.astrosigned {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    
}

.magic-sign-up {
    background-color: black;
    color: palevioletred;
    display: flex;
    align-items: center;
    margin: 50px 200px;
    padding: 10px 80px;
}

.sign-item {
    flex:1;
}

.signs-button button {
    background-color: palevioletred;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 25px;
}

.magic-footer {
    background-color: black;
}
